// SPDX-License-Identifier: GPL-2.0
/*
 * at91-isnet_lite.dts -- Device Tree file for Thorsis Technologies isNet Lite board
 *
 * Copyright 2022 Thorsis Technologies GmbH
 *
 * Author: Alexander Dahl <ada@thorsis.com>
 */
/dts-v1/;
#include <dt-bindings/input/input.h>
#include "at91sam9g20.dtsi"

/ {
	model = "Thorsis Technologies isNet Lite";
	compatible = "thorsis,isnet-lite", "atmel,at91sam9g20", "atmel,at91sam9";

	chosen {
		stdout-path = &dbgu;
	};

	memory {
		reg = <0x20000000 0x02000000>;
	};

	clocks {
		slow_xtal {
			clock-frequency = <32768>;
		};

		main_xtal {
			clock-frequency = <18432000>;
		};
	};

	ahb {
		apb {
			dbgu: serial@fffff200 {
				status = "okay";
			};

			macb0: ethernet@fffc4000 {
				phy-mode = "rmii";
				status = "okay";
			};

			shdwc@fffffd10 {
				atmel,wakeup-counter = <10>;
				atmel,wakeup-rtt-timer;
			};

			rtc@fffffd20 {
				atmel,rtt-rtc-time-reg = <&gpbr 0x0>;
				status = "okay";
			};

			watchdog@fffffd40 {
				status = "okay";
			};

			gpbr: syscon@fffffd50 {
				status = "okay";
			};
		};

		ebi: ebi@10000000 {
			status = "okay";

			nand_controller: nand-controller {
				status = "okay";
				pinctrl-0 = <&pinctrl_nand_cs &pinctrl_nand_rb>;
				pinctrl-names = "default";

				nand@3 {
					reg = <0x3 0x0 0x800000>;
					rb-gpios = <&pioC 13 GPIO_ACTIVE_HIGH>;
					cs-gpios = <&pioC 14 GPIO_ACTIVE_HIGH>;
					nand-bus-width = <8>;
					nand-ecc-mode = "soft";
					nand-on-flash-bbt;
					label = "atmel_nand";

					/* maybe add partitions here later */
				};
			};
		};
	};

	gpio_keys {
		compatible = "gpio-keys";

		/* label is used as is to identify button in U-Boot shell command */
		reset {
			label = "reset";
			gpios = <&pioA 11 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";

		/* name/label same as in dtb for Linux */
		status {
			label = "status";
			gpios = <&pioA 22 GPIO_ACTIVE_HIGH>;
		};
	};
};
