/*
 * at91-muxgate.dts – Device Tree file for Thorsis Technologies MUXgate board
 *
 * © 2020 Thorsis Technologies GmbH
 */
/dts-v1/;
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include "sama5d2.dtsi"
#include "sama5d2-pinfunc.h"
/ {
	model = "Thorsis Technologies MUXgate";
	compatible = "thorsis,muxgate", "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	memory {
		reg = <0x20000000 0x08000000>;
	};

	chosen {
		u-boot,dm-pre-reloc;
		stdout-path = &uart1;
	};

	ahb {
		apb {
			spi0: spi@f8000000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_spi0_default>;
				status = "okay";
				u-boot,dm-pre-reloc;

				gpio_spi: gpio@0 {
					compatible = "fairchild,74hc595";
					gpio-controller;
					#gpio-cells = <2>;
					reg = <0>;
					registers-number = <1>;
					/*
					 * periph clock 82 MHz / max.  SCBR 255 demands at least
					 * <321569> or changing periph clock rate …
					 */
					spi-max-frequency = <400000>;
					oe-gpios = <&pioA PIN_PA18 GPIO_ACTIVE_LOW>;
				};
			};

			macb0: ethernet@f8008000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_macb0_rmii>;
				phy-mode = "rmii";
				status = "okay";

				ethernet-phy@1 {
					reg = <0x1>;
				};
			};

			uart1: serial@f8020000 {
				pinctrl-names = "default";
				pinctrl-0 = <&pinctrl_uart1_default>;
				status = "okay";
				u-boot,dm-pre-reloc;
			};

			pioA: gpio@fc038000 {
				pinctrl {
					pinctrl_key_gpio: key_gpio {
						pinmux = <PIN_PD21__GPIO>;
						bias-disable;
					};

					pinctrl_spi0_default: spi0_default {
						pinmux = <PIN_PA14__SPI0_SPCK>,  /* LED_SCK  */
							 <PIN_PA15__SPI0_MOSI>,  /* LED_MOSI */
							 <PIN_PA16__SPI0_MISO>,  /* n.c.     */
							 <PIN_PA17__SPI0_NPCS0>, /* LED_CS   */
							 <PIN_PA18__GPIO>;       /* LED_/OE  */
						bias-disable;
						u-boot,dm-pre-reloc;
					};

					pinctrl_macb0_rmii: macb0_rmii {
						pinmux = <PIN_PC10__GTXCK>,
							 <PIN_PC11__GTXEN>,
							 <PIN_PC12__GRXDV>,
							 <PIN_PC13__GRXER>,
							 <PIN_PC14__GRX0>,
							 <PIN_PC15__GRX1>,
							 <PIN_PC16__GTX0>,
							 <PIN_PC17__GTX1>,
							 <PIN_PC18__GMDC>,
							 <PIN_PC19__GMDIO>;
						bias-disable;
					};

					pinctrl_uart1_default: uart1_default {
						pinmux = <PIN_PD2__URXD1>,
							 <PIN_PD3__UTXD1>;
						bias-disable;
						u-boot,dm-pre-reloc;
					};
				};
			};
		};
	};

	gpio_keys {
		compatible = "gpio-keys";
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_key_gpio>;

		reset {
			label = "reset";
			gpios = <&pioA PIN_PD21 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
			debounce-interval = <60>;
		};
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";

		/*
		 * Four dual color (red/green) LEDs connected to the
		 * 74xx595 shift register.
		 *
		 * NOTE	If you switch ON both colors of the same LED,
		 *	it will go off. We're just misusing the
		 *	gpio-leds driver here for simplicity.
		 *
		 * Front view of the case, 'o' are the LEDs, numbers the
		 * bit positions, chars the labels.
		 *
		 * +-----------+
		 * |           |
		 * |           |
		 * | ST     Tx |
		 * | 45 o o 67 |
		 * | 01 o o 23 |
		 * | Err    Rx |
		 * |           |
		 * |           |
		 * +-----------+
		 */

		led-0 {
			label = "red:fault";
			gpios = <&gpio_spi 0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-1 {
			label = "green:fault";
			gpios = <&gpio_spi 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-2 {
			label = "red:rx";
			gpios = <&gpio_spi 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-3 {
			label = "green:rx";
			gpios = <&gpio_spi 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-4 {
			label = "red:status";
			gpios = <&gpio_spi 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-5 {
			label = "green:status";
			gpios = <&gpio_spi 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-6 {
			label = "red:tx";
			gpios = <&gpio_spi 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-7 {
			label = "green:tx";
			gpios = <&gpio_spi 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/*
		 * maybe not populated on PCB
		 * (this led could use pwm, but we use it as simple gpio-led in u-boot only.)
		 */
		led-8 {
			label = "red:debug";
			gpios = <&pioA PIN_PB5 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
	};
};
