/*
 * at91-proficube-u-boot.dtsi – Device Tree include for Thorsis Technologies ProfiCube board
 *
 * © 2023 Thorsis Technologies GmbH
 */

/ {
	chosen {
		u-boot,dm-pre-reloc;
	};
};

&pinctrl_spi0_default {
	u-boot,dm-pre-reloc;
};

&pinctrl_uart1_default {
	u-boot,dm-pre-reloc;
};

&spi0 {
	u-boot,dm-pre-reloc;
};
