/*
 * at91-hartcube-u-boot.dtsi - Device Tree Include file for HARTcube board
 *
 * © 2024 Thorsis Technologies GmbH
 */

/ {
	ahb {
		bootph-all;

		apb {
			bootph-all;
		};
	};

	chosen {
		bootph-all;
	};

	config {
		u-boot,boot-led = "led-4";
	};
};

&clk32 {
	bootph-all;
};

&dbgu {
	bootph-all;
};

&led_11_red {
	label = "led-0";
	default-state = "off";
};

&led_12_red {
	label = "led-1";
	default-state = "off";
};

&led_13_red {
	label = "led-2";
	default-state = "off";
};

&led_14_red {
	label = "led-3";
	default-state = "off";
};

&led_11_green {
	label = "led-4";
	default-state = "off";
};

&led_12_green {
	label = "led-5";
	default-state = "off";
};

&led_13_green {
	label = "led-6";
	default-state = "off";
};

&led_14_green {
	label = "led-7";
	default-state = "off";
};

&led_debug {
	label = "green:debug";
};

&main_rc {
	bootph-all;
};

&main_xtal {
	bootph-all;
};

&pinctrl {
	bootph-all;
};

&pinctrl_dbgu {
	bootph-all;
};

&pioA {
	bootph-all;
};

&pioB {
	bootph-all;
};

&pit64b0 {
	bootph-all;
};

&pmc {
	bootph-all;
};

&slow_rc_osc {
	bootph-all;
};

&slow_xtal {
	bootph-all;
};
