/*
 * at91-muxgate.dts – Device Tree file for Thorsis Technologies MUXgate board
 *
 * © 2020 Thorsis Technologies GmbH
 */
/dts-v1/;
#include "sama5d2.dtsi"
#include "sama5d2-pinfunc.h"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/pinctrl/at91.h>

/ {
	model = "Thorsis Technologies MUXgate";
	compatible = "thorsis,muxgate", "atmel,sama5d27", "atmel,sama5d2", "atmel,sama5";

	chosen {
		stdout-path = &uart1;
	};

	memory {
		reg = <0x20000000 0x08000000>;
	};

	gpio-keys {
		compatible = "gpio-keys";
		status = "okay";

		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_key_gpio_default>;

		reset {
			label = "reset";
			gpios = <&pioA PIN_PD21 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_RESTART>;
			debounce-interval = <60>;
		};
	};

	led-controller-0 {
		compatible = "gpio-leds";
		status = "okay";

		/*
		 * Four dual color (red/green) LEDs connected to the
		 * 74xx595 shift register.
		 *
		 * NOTE	If you switch ON both colors of the same LED,
		 *	it will go off. We're just misusing the
		 *	gpio-leds driver here for simplicity.
		 *
		 * Front view of the case, 'o' are the LEDs, numbers the
		 * bit positions, chars the labels.
		 *
		 * +-----------+
		 * |           |
		 * |           |
		 * | ST     Tx |
		 * | 45 o o 67 |
		 * | 01 o o 23 |
		 * | Err    Rx |
		 * |           |
		 * |           |
		 * +-----------+
		 */

		led-0 {
			label = "red:fault";
			gpios = <&gpio_spi 0 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-1 {
			label = "green:fault";
			gpios = <&gpio_spi 1 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-2 {
			label = "red:rx-0";
			gpios = <&gpio_spi 2 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-3 {
			label = "green:rx-0";
			gpios = <&gpio_spi 3 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-4 {
			label = "red:status";
			gpios = <&gpio_spi 4 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-5 {
			label = "green:status";
			gpios = <&gpio_spi 5 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-6 {
			label = "red:tx-0";
			gpios = <&gpio_spi 6 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		led-7 {
			label = "green:tx-0";
			gpios = <&gpio_spi 7 GPIO_ACTIVE_HIGH>;
			default-state = "off";
		};

		/*
		 * maybe not populated on PCB
		 * (this led could use pwm, but we use it as simple gpio-led in u-boot only.)
		 */
		led-8 {
			label = "red:debug";
			gpios = <&pioA PIN_PB5 GPIO_ACTIVE_HIGH>;
			default-state = "keep";
		};
	};
};

&ebi {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_nand_default>;
	status = "okay";

	nand_controller: nand-controller {
		status = "okay";

		nand@3 {
			reg = <0x3 0x0 0x800000>;
			atmel,rb = <0>;

			nand-bus-width = <8>;
			nand-ecc-mode = "hw";
			nand-on-flash-bbt;
			nand-ecc-strength = <8>;
			nand-ecc-step-size = <512>;
			label = "atmel_nand";
		};
	};
};

&macb0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_macb0_default>;
	phy-mode = "rmii";
	status = "okay";

	phy0: ethernet-phy@1 {
		reg = <1>;
	};
};

&pioA {
	pinctrl_key_gpio_default: key_gpio_default {
		pinmux = <PIN_PD21__GPIO>;
		bias-disable;
	};

	pinctrl_macb0_default: macb0_default {
		pinmux = <PIN_PC10__GTXCK>,
			 <PIN_PC11__GTXEN>,
			 <PIN_PC12__GRXDV>,
			 <PIN_PC13__GRXER>,
			 <PIN_PC14__GRX0>,
			 <PIN_PC15__GRX1>,
			 <PIN_PC16__GTX0>,
			 <PIN_PC17__GTX1>,
			 <PIN_PC18__GMDC>,
			 <PIN_PC19__GMDIO>;
		bias-disable;
	};

	pinctrl_nand_default: nand_default {
		rd_we_data {
			pinmux = <PIN_PA22__D0>,
				 <PIN_PA23__D1>,
				 <PIN_PA24__D2>,
				 <PIN_PA25__D3>,
				 <PIN_PA26__D4>,
				 <PIN_PA27__D5>,
				 <PIN_PA28__D6>,
				 <PIN_PA29__D7>,
				 <PIN_PA30__NWE_NANDWE>,
				 <PIN_PB2__NRD_NANDOE>;
			bias-disable;
			atmel,drive-strength = <ATMEL_PIO_DRVSTR_ME>;
		};

		ale_cle_rdy_cs {
			pinmux = <PIN_PB0__A21_NANDALE>,
				 <PIN_PB1__A22_NANDCLE>,
				 <PIN_PC8__NANDRDY>,
				 <PIN_PA31__NCS3>;
			bias-pull-up;
		};
	};

	pinctrl_spi0_default: spi0_default {
		pinmux = <PIN_PA14__SPI0_SPCK>,  /* LED_SCK  */
			 <PIN_PA15__SPI0_MOSI>,  /* LED_MOSI */
			 <PIN_PA16__SPI0_MISO>,  /* n.c.     */
			 <PIN_PA17__SPI0_NPCS0>, /* LED_CS   */
			 <PIN_PA18__GPIO>;       /* LED_/OE  */
		bias-disable;
	};

	pinctrl_uart1_default: uart1_default {
		pinmux = <PIN_PD2__URXD1>,
			 <PIN_PD3__UTXD1>;
		bias-disable;
	};
};

&spi0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi0_default>;
	status = "okay";

	gpio_spi: gpio@0 {
		compatible = "fairchild,74hc595";
		reg = <0>;
		gpio-controller;
		#gpio-cells = <2>;
		registers-number = <1>;
		/*
		 * periph clock 82 MHz / max.  SCBR 255 demands at least
		 * <321569> or changing periph clock rate …
		 */
		spi-max-frequency = <400000>;
		oe-gpios = <&pioA PIN_PA18 GPIO_ACTIVE_LOW>;
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart1_default>;
	status = "okay";
};
