/*
 * at91-vera2-u-boot.dtsi - Device Tree include for Thorsis Technologies Vera2 board
 *
 * © 2023 Thorsis Technologies GmbH
 */

/ {
	chosen {
		bootph-all;
	};
};

&pinctrl_sdmmc0_default {
	cmd_dat {
		bootph-all;
	};

	ck_cd {
		bootph-all;
	};
};

&pinctrl_uart1_default {
	bootph-all;
};

&sdmmc0 {
	bootph-all;
};

&uart1 {
	bootph-all;
};
