if TARGET_HARTCUBE

config SYS_BOARD
	default "hartcube"

config SYS_VENDOR
	default "thorsis"

config SYS_SOC
        default "at91"

config SYS_CONFIG_NAME
	default "hartcube"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select PARTITIONS
	imply DISTRO_DEFAULTS

endif
