if TARGET_MUXGATE

config SYS_BOARD
	default "muxgate"

config SYS_VENDOR
	default "thorsis"

config SYS_SOC
	default "at91"

config SYS_CONFIG_NAME
	default "muxgate"

config BOARD_SPECIFIC_OPTIONS # dummy
	def_bool y
	select PARTITIONS
	imply DISTRO_DEFAULTS

source "board/thorsis/common/Kconfig"

endif
