if TARGET_ISNET_LITE

config SYS_BOARD
	default "isnet_lite"

config SYS_VENDOR
	default "thorsis"

config SYS_CONFIG_NAME
	default "isnet_lite"

menu "isNet Lite board options"

config TT_NCL_HRTTEST
	bool "hrttest"
	help
	  Runtime HART request test.

endmenu

endif
